@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	outline: 1px solid black;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0px;
	/* display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column; */
	min-height: 100vh;
	background-color: #fafafa;
}

.gird-container {
	display: grid;
	grid-gap: 1rem;
	grid-template-areas:
		"nav"
		"main"
		"footer";
	grid-template-rows: 5rem 1fr 5rem;
	grid-template-columns: auto;
	min-height: 100vh;
}

nav {
	grid-area: nav;
}

main {
	grid-area: main;
}

footer {
	grid-area: footer;
}
